.noto{font-family: 'Noto Sans KR';}
.play{font-family: 'Playfair Display';}
body{background-color: #e4c59e;}
a{text-decoration: none;}
li{list-style: none;}
/* ! */
.fts16{
    font-size: 0.93rem;
}
/* ! */
.ftwM{
    font-weight: 500;
}

@keyframes rotate{
    100%{
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 1280px){
    header{
        padding: 2.31vh 2.08vw; position: sticky; top: 0;
    }
    header > div{
        background-color: #af8260; padding: 0 2.08vw; box-sizing: border-box; border-radius: 3rem;
        display: flex; align-items: center; justify-content: space-between;
    }

    header > div h1{
        min-width: 7.06rem; max-width: 7.06rem;
    }
    header > div h1 a{
        display: block;
    }
    header > div h1 a img{
        width: 100%;
    }

    header > div span.material-icons{
        display: none;
    }

    header > div nav{
        display: flex; flex-grow: 1; justify-content: center;
    }
    header > div nav ul > li{
        float: left; position: relative;
    }
    header > div nav ul > li:not(:first-of-type){
        margin-left: 6.25vw;
    }
    header > div nav ul > li a{
        display: block; color: #eeeeee;
    }
    header > div nav ul > li:hover > a,
    header > div nav ul > li ol li:hover a,
    header > div div a:hover{
        color: #803d3b;
    }
    header > div nav ul > li > a{
        line-height: 1.87rem; padding: 1.63rem 0 1.63rem 2.5rem; position: relative;
    }
    header > div nav ul > li > a::before{
        content:''; background: url('../images/ico_record.svg') left center no-repeat; top: 0; left: 0; 
        max-width: 1.88rem; width: 100%; height: 100%; display: block; position: absolute;
    }
    header > div nav ul > li:hover > a::before{
        background-image: url('../images/ico_record_hov.svg');
       animation: rotate 1.3s linear infinite; transform-origin: 50% 50%;
    }
    header > div nav ul > li ol{
        display: none;
        position: absolute; top: 5.82rem; background-color: #af8260; 
        left: 50%; transform: translateX(-50%); border-radius: 20px;
    }
    header > div nav ul > li:hover ol{
        display: block;
    }
    header > div nav ul > li ol li{
        text-align: center;
    }
    header > div nav ul > li ol li a{
        padding: 0 1.25rem; line-height: 3.12rem; 
    }
    
    header > div div{
        text-align: right; 
    }
    header > div div a{
        color: #eeeeee; line-height: 3.12rem; 
    }
    header > div div a:first-child,
    header > div div a:nth-of-type(2){
        padding-right: 1.56vw;
    }
    header > div div a:not(:first-child){
        padding-left: 1.56vw; position: relative;
    }
    header > div div a:not(:first-child)::before{
        content: '|'; position: absolute; left: 0; color: #eeeeee;
    }
}