@media screen and (min-width: 768px) and (max-width: 1279px){
    .topSlider{
        margin: 0 0 8.75rem; overflow: hidden; position: relative;
    }
    .topSlider ul{
        width: 200vw; transition: transform 0.5s ease-in;
    }
    .topSlider ul::after{
        content: ''; display: block; clear: both;
    }
    .topSlider ul li{
        width: 100vw; padding: 0 3.12vw; float: left;  box-sizing: border-box; 
        height: clamp(600px, 46.87vw, 900px);
    }
    .topSlider ul li:first-child > div img,
    .topSlider ul li:first-child > div div *:not(a),
    .topSlider ul li:last-child > div img,
    .topSlider ul li:last-child > div div *:not(a){
        pointer-events: none; user-select: none;
    }
    .topSlider ul li:first-child > div{
        height: 100%; justify-content: center;
        display: flex; align-items: center;
        background-color: #d1ac78; border-radius: 6.25rem 0;
    }
    .topSlider ul li:first-child > div img{
        width: 45%; max-width: 800px; padding: 3.64% 0 3.64% 3.12%;
    }
    .topSlider ul li:first-child > div div{
        text-align: right; padding-right: 6.25%;
    }
    .topSlider ul li:first-child > div div h2{
        color: #322c2b; margin-bottom: 1.82vw;
    }
    .topSlider ul li:first-child > div div h2 span{
        display: block; margin-bottom: 1.2vw; color: #eeeeee;
    }
    .topSlider ul li:first-child > div div p{
        color: #322c2b;
    }
    .topSlider ul li:first-child > div div p:first-of-type{
        margin-bottom: 2.08vw;
    }
    .topSlider ul li:first-child > div div p:last-of-type{
        line-height: 2.5rem; margin-bottom: 2.6vw;
    }
    .topSlider ul li:first-child > div div a,
    .topSlider ul li:last-child > div div a{
        line-height: clamp(56px, 3.12vw, 60px);
    }
    .topSlider ul li:last-child > div{
        height: 100%; border-radius: 6.25rem 0;
        display: flex; align-items: center; justify-content: center;
        background: url('../images/slide_vinyl_record.png') #f6e613 left bottom / contain no-repeat;
    }
    .topSlider ul li:last-child > div div{
        text-align: right; padding-right: 3.12vw;
    }
    .topSlider ul li:last-child > div div h2{
        font-style: italic; color: #322c2b; margin-bottom: 3.12vw;
    }
    .topSlider ul li:last-child > div div h2 span{
        display: block; color: #9a900f; margin-bottom: 1.04vw;
        font-style: normal;
    }
    .topSlider ul li:last-child > div div a:hover{
        background-color: #9a900f;
    }
    .topSlider ul li:last-child > div img{
        max-width: 800px; padding: 3.64% 3.12% 3.64% 0;
    }

    .topSlider > span{
        display: block; position: absolute; z-index: 2; bottom: 1.04vw; left: 50%; transform: translateX(-50%);
    }
    .topSlider > span input{
        display: inline-block; background-color: rgba(128, 61, 59, 0.6); border: none; cursor: pointer;
        text-indent: -9999px; width: clamp(40px, 2.8vw, 50px); height: 0.31vw; border-radius: 1vw;
    }
    .topSlider > span input:not(:first-of-type){
        margin-left: 0.31vw;
    }
    .topSlider > span input.active{
        width: clamp(25px, 1.56vw, 30px); height: clamp(25px, 1.56vw, 30px); border-radius: 0;
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 50 50'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23803d3b; %7D .cls-1, .cls-2 %7B stroke-width: 0px; %7D .cls-2 %7B fill: %23995858; %7D %3C/style%3E%3C/defs%3E%3Cellipse class='cls-1' cx='18.0226' cy='35' rx='18.0226' ry='15'/%3E%3Cpath class='cls-1' d='M36.2988,2.7556c0-2.1477-3.239-4.2814-4.8373-1.2478-.2757.5233-.3821,1.121-.3821,1.7125v31.6023c0,1.3278.9535,2.5527,2.2763,2.6677,1.4815.1288,2.7237-1.0356,2.7237-2.4902l.1086-17.23c.1086.0485.2151.0991.3335.1374,5.5812,1.8074,8.8962,6.0539,7.0112,9.5535-.3106.5767-.7168,1.724-.3593,2.3.4348.7004,1.5745.7303,2.1667.3217,8.1851-5.6459,4.2003-17.2797-1.3704-20.0802-5.5707-2.8005-7.671-4.6155-7.671-7.2468Z'/%3E%3Cpath class='cls-2' d='M-4.7341,32.5364'/%3E%3C/svg%3E");
        background-size: contain; background-repeat: no-repeat; background-color: transparent;
    }

    /* * */

    .lastMonthTop3{
        padding: 0 13.75vw; margin: 0 auto 10rem; box-sizing: border-box;
    }
    .lastMonthTop3 h2{
        color: #322c2b; display: flex; align-items: center; margin-bottom: 3.12rem;
    }
    .lastMonthTop3 h2::after{
        content: ''; flex-grow: 1; background: #322c2b; height: 1px; margin-left: 1.25rem;
    }
    .lastMonthTop3 ol{
        display: flex; justify-content: center;
    }
    .lastMonthTop3 ol li{
        width: 33.33%; position: relative; background-color: #eeeeee; border-radius: 10px;
        padding: 3.15rem 1.25rem  7.29vw; flex-basis: 0; flex-grow: 1; text-align: center;
        transition: background-color 0.3s ease-in; box-sizing: border-box; max-height: 687px; max-width: 440px;
    }
    .lastMonthTop3 ol li:hover{
        background-color: #ba8f6c;
    }
    .lastMonthTop3 ol li:not(:first-of-type){
        margin-left: 3.43rem;
    }
    .lastMonthTop3 ol li span{
        position: absolute; top: 0; left: clamp( 30px ,1.56vw, 30px); font-style: italic; color: #322c2b;
        text-shadow: -1px 0 #eeeeee, 0 1px #eeeeee, 1px 0 #eeeeee, 0 -1px #eeeeee;
        transition: color 0.5s, text-shadow 0.5s;
    }
    .lastMonthTop3 ol li:hover span{
        color: #eeeeee; 
        text-shadow: -1px 0 #ba8f6c, 0 1px #ba8f6c, 1px 0 #ba8f6c, 0 -1px #ba8f6c;
    }
    .lastMonthTop3 ol li img{
        width: 100%; max-width: 400px; display: block; margin: 0 auto 2.18rem;
    }
    .lastMonthTop3 ol li dl dt{
        color: #322c2b; line-height: clamp(20px, 1.25vw, 24px); margin-bottom: 1.87rem;
    }
    .lastMonthTop3 ol li:hover dl dt{
        color: #eeeeee;
    }
    .lastMonthTop3 ol li dl dd:first-of-type{
        color: #803d3b; 
    }
    .lastMonthTop3 ol li dl dd:last-of-type{
        position: absolute; bottom: 1.25rem; left: 50%; transform: translateX(-50%);
    }
    .lastMonthTop3 ol li:hover dl dd:last-of-type a{
        background-color: #803d3b;
    }

    /* * */

    .mainContainer > p{
        color: #322c2b; margin: 0 auto 14.37rem; line-height: clamp(140px, 10.41vw, 240px);
        padding: 0 7.81vw;
        background: url('../images/ben_1.png') #cb8360 left 72.15vw center / clamp(200px, 20.05vw,387px) no-repeat;
    }
    .mainContainer > p mark{
        color: #fff; background: transparent; font-style: normal;
    }
    .mainContainer > p small{
        color: #7c4d36;
    }

    /* * */

    .newVinyl{
        position: relative; margin-bottom: 11.25rem;
    }
    .newVinyl div{
        position: relative;
    }
    .newVinyl div h2{
        writing-mode: vertical-rl; color: #eeeeee; text-align: center; line-height: 1;
        height: 90%; width: 82.55vw; background-color: #803d3b;
        display: flex; align-items: baseline; padding-right: 2.08vw; position: relative; z-index: 5; 
        border-top-right-radius: 1.25rem; border-bottom-right-radius: 1.25rem;
    }
    .newVinyl h2::before{
        content: ''; flex-grow: 1; background: #eeeeee; width: 2px; margin: 6.25vw 0 1.25rem;
    }
    .newVinyl h2::after{
        content: ''; flex-grow: 1; background: #eeeeee; width: 2px; margin: 1.25rem 0 6.25vw;
    }
    .newVinyl div img{
        position: absolute; width: 35.4vw; top: 11.52%; right: 3.5%; 
        animation: spin 5s linear infinite;
    }
    .newVinyl ul{
        display: flex; flex-wrap: wrap; position: absolute; top: 50%; transform: translateY(-50%);
        z-index: 8; width: 79%; padding-left: 2.08vw;
    }
    .newVinyl ul li{
        flex: 1 0 23%; margin-right: 1.56vw; 
        position: relative; background-color: #eeeeee; padding: 2.8vw 1.3vw 3.12vw; 
        box-sizing: border-box; transition: background-color 0.2s ease-in;
        border-top-left-radius: 1.25rem; border-bottom-left-radius: 1.25rem; border-bottom-right-radius: 1.25rem;
    }
    .newVinyl ul li:hover,
    .discount ul li:hover{
        background-color: #ba8f6c;
    }
    .newVinyl ul li:nth-child(-n+4){
        margin-bottom: 1.56vw;
    }
    .newVinyl ul li a{
        display: block; margin-bottom: 1.25rem;
    }
    .newVinyl ul li a img{
        width: 100%;
    }
    .newVinyl ul li dl dt{
        color: #322c2b; line-height: 1.25vw; margin-bottom: 0.81rem;
    }
    .newVinyl ul li dl dd,
    .discount ul li dl dd strong{
        color: #803d3b;
    }
    .newVinyl ul li input{
        position: absolute; bottom: 1.04vw; right: 1.3vw; text-indent: -9999px;
        display: block; width: 1.3vw; height: 1.3vw; border: none; cursor: pointer;
        background: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 50 50'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23322c2b; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M37.284,2.5402c-4.8406,0-9.2435,2.8837-12.284,7.9792-3.0405-5.0941-7.4439-7.9782-12.2845-7.9792h-.0009c-3.3452,0-6.5012,1.3794-8.8853,3.8847C1.3597,9.0189,0,12.5904,0,16.4816c0,13.6254,23.4567,29.9161,24.4549,30.6035l.5451.3747.5446-.3747c.9991-.6873,24.4554-16.9781,24.4554-30.6035,0-8.7266-6.465-13.9414-12.716-13.9414ZM23.2797,13.3829l1.7203,3.44,1.7203-3.44c2.5287-5.0575,6.3796-7.958,10.5638-7.958,6.1542,0,9.8314,5.6218,9.8314,11.0568,0,10.6065-18.1143,24.5047-22.1154,27.4447-4.0006-2.94-22.1154-16.8401-22.1154-27.4447,0-3.1471,1.0775-6.0124,3.0339-8.0679,1.8339-1.9273,4.2476-2.9888,6.7956-2.9888l.0014-.9614h0v.9614c4.1856.0009,8.036,2.9015,10.5642,7.958Z'/%3E%3C/svg%3E") center / contain no-repeat;
    }
    .newVinyl ul li input.active{
        animation: heart 0.3s ease-in forwards; 
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 50 50'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23803d3b; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M37.2841,2.5402c-4.8406,0-9.2436,2.8837-12.2841,7.9792-3.0405-5.0941-7.444-7.9782-12.2845-7.9792h-.001c-3.3452,0-6.5012,1.3794-8.8853,3.8846C1.3597,9.0189,0,12.5904,0,16.4816c0,13.6254,23.4567,29.9161,24.4549,30.6035l.5451.3747.5446-.3747c.9991-.6873,24.4554-16.9781,24.4554-30.6035,0-8.7266-6.465-13.9414-12.7159-13.9414Z'/%3E%3C/svg%3E");
    }

    /* * */

    .discount{
        position: relative; margin: 0 auto 10rem; 
        background-color: #c9a080; padding: 2.86vw 13.75vw 4.16vw;
    }
    .discount h2{
        color: #322c2b; display: flex; align-items: center; margin-bottom: 3.12rem;
    }
    .discount h2:after{
        content: ''; flex-grow: 1; background: #322c2b; height: 1px; margin: 0 1.25rem;
    }
    .discount h2 a{
        order: 1;
    }
    .discount > div{
        position: relative; margin: 0 auto;
    }
    .discount > div span input{
        position: absolute; z-index: 5; top: 50%; transform: translateY(-50%);
        cursor: pointer; width: 4.37rem; height: 4.37rem; text-indent: -9999px;
        background-repeat: no-repeat; background-size: 0.81rem;
        border: none; background-color: #af8260; border-radius: 2.18rem;
    }
    .discount > div span input:hover{
        background-color: #803d3b;
    }
    .discount > div span input:first-of-type{
        left: -35px; background-position: 46%;
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 27.8 50'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23eee; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M27,49.2h0c1.1-1.1,1.1-2.9,0-4L6.9,25,27,4.9c1.1-1.1,1.1-2.9,0-4h0c-1.1-1.1-2.9-1.1-4,0L.8,23c-1.1,1.1-1.1,2.9,0,4l22.2,22.2c1.1,1.1,2.9,1.1,4,0h0Z'/%3E%3C/svg%3E");
    }
    .discount > div span input:last-of-type{
        right: -35px; background-position: 52%;
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 27.8443 50'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23eeeeee; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M.8331.833h0c-1.1108,1.1107-1.1108,2.9116,0,4.0224l20.1446,20.1446L.8331,45.1445c-1.1107,1.1107-1.1107,2.9116,0,4.0224h0c1.1107,1.1108,2.9116,1.1108,4.0224,0l22.1558-22.1558c1.1107-1.1107,1.1107-2.9116,0-4.0224L4.8554.8331c-1.1107-1.1107-2.9116-1.1107-4.0223,0Z'/%3E%3C/svg%3E");
    }
    .discount > div div{
        overflow-x: auto;
    }
    .discount > div div ul{
        display: grid; grid-template-columns: repeat(7, 1fr); gap: clamp(20px, 2.08vw, 40px);
        scrollbar-width: none; -ms-overflow-style: none; transition: transform 0.4s ease-in;    
    }
    .discount > div div ul::-webkit-scrollbar{
        display: none;
    }
    .discount > div div ul li{
        min-width: clamp(300px, 17.55vw, 700px);
        position: relative; background-color: #eeeeee; padding: 2.8vw 1.3vw 3.12vw; 
        box-sizing: border-box; transition: background-color 0.2s ease-in;
        border-top-left-radius: 1.25rem; border-bottom-left-radius: 1.25rem; border-bottom-right-radius: 1.25rem;
    }
    .discount > div div ul li a{
        display: block; margin-bottom: 1.25rem;
    }
    .discount > div div ul li a img{
        width: 100%;
    }
    .discount > div div ul li dl dt{
        color: #322c2b; line-height: 1.25vw; margin-bottom: 0.81rem;
    }
    .discount > div div ul li dl dd s{
        color: rgba(50, 44, 43, 0.5);
    }
    .discount > div div ul li dl dd strong{
        margin-left: 0.31rem;
    }
    .discount > div div ul li input{
        position: absolute; bottom: 1.04vw; right: 1.3vw; text-indent: -9999px;
        display: block; width: 1.3vw; height: 1.3vw; border: none; cursor: pointer;
        background: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 50 50'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23322c2b; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M37.284,2.5402c-4.8406,0-9.2435,2.8837-12.284,7.9792-3.0405-5.0941-7.4439-7.9782-12.2845-7.9792h-.0009c-3.3452,0-6.5012,1.3794-8.8853,3.8847C1.3597,9.0189,0,12.5904,0,16.4816c0,13.6254,23.4567,29.9161,24.4549,30.6035l.5451.3747.5446-.3747c.9991-.6873,24.4554-16.9781,24.4554-30.6035,0-8.7266-6.465-13.9414-12.716-13.9414ZM23.2797,13.3829l1.7203,3.44,1.7203-3.44c2.5287-5.0575,6.3796-7.958,10.5638-7.958,6.1542,0,9.8314,5.6218,9.8314,11.0568,0,10.6065-18.1143,24.5047-22.1154,27.4447-4.0006-2.94-22.1154-16.8401-22.1154-27.4447,0-3.1471,1.0775-6.0124,3.0339-8.0679,1.8339-1.9273,4.2476-2.9888,6.7956-2.9888l.0014-.9614h0v.9614c4.1856.0009,8.036,2.9015,10.5642,7.958Z'/%3E%3C/svg%3E") center / contain no-repeat;
    }
    .discount > div div ul li input.active{
        animation: heart 0.3s ease-in forwards; 
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 50 50'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23803d3b; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M37.2841,2.5402c-4.8406,0-9.2436,2.8837-12.2841,7.9792-3.0405-5.0941-7.444-7.9782-12.2845-7.9792h-.001c-3.3452,0-6.5012,1.3794-8.8853,3.8846C1.3597,9.0189,0,12.5904,0,16.4816c0,13.6254,23.4567,29.9161,24.4549,30.6035l.5451.3747.5446-.3747c.9991-.6873,24.4554-16.9781,24.4554-30.6035,0-8.7266-6.465-13.9414-12.7159-13.9414Z'/%3E%3C/svg%3E");
    }

    /* * */

    .moreVinyl{
        max-width: 1920px; max-height: 800px; height: 41.66vw; padding: 0 6.51vw; 
        margin: 0 auto 10.31rem; display: flex; text-align: center;
    }
    .moreVinyl > div{
        border-radius: 1.25rem; display: flex; flex-direction: column; 
    }
    .moreVinyl > div:first-child{
        position: relative; height: 100%; width: 45%; padding: 0 5%; box-sizing: border-box;
        justify-content: center; align-items: center;
        background: url('../images/bg_01.png') center / cover no-repeat;
    }
    .moreVinyl > div:first-child::before,
    .moreVinyl > div:last-child div::before{
        content: ''; position: absolute; border-radius: 1.25rem;
        top: 0; left: 0; width: 100%; height: 100%;background-color: rgba(0, 0, 0, 0.6); 
        opacity: 0; transition: opacity 0.3s ease;
    }
    .moreVinyl > div:first-child:hover:before,
    .moreVinyl > div:last-child div:hover:before{
        opacity: 1;
    }
    .moreVinyl > div:last-child{
        margin-left: 1.04%; width: 53.96%;
    }
    .moreVinyl > div:last-child div{
        position: relative; padding: 0 5%; box-sizing: border-box;
        border-radius: 1.25rem; display: flex; flex-direction: column; 
        justify-content: center; align-items: center;
    }
    .moreVinyl > div:last-child div:first-child{
        height: 48.75%; margin-bottom: 2.5%;
        background: url('../images/bg_02.png') center / cover no-repeat;
    }
    .moreVinyl > div:last-child div:last-child{
        height: 48.75%;
        background: url('../images/bg_03.png') center / cover no-repeat;
    }
    .moreVinyl p{
       color: #eeeeee; z-index: 2;
       line-height: 2.06rem; margin-bottom: 2.5rem;
    }
    .moreVinyl p b{
        display: block; margin-bottom: 1.25rem;
    }
    .moreVinyl a{
        z-index: 2;
    }
}

@media screen and (min-width: 1280px){
    .topSlider{
        margin: 0 0 8.75rem; overflow: hidden; position: relative;
    }
    .topSlider ul{
        width: 200vw; transition: transform 0.5s ease-in;
    }
    .topSlider ul::after{
        content: ''; display: block; clear: both;
    }
    .topSlider ul li{
        width: 100vw; padding: 0 3.12vw; float: left;  box-sizing: border-box; 
        height: clamp(600px, 46.87vw, 900px);
    }
    .topSlider ul li:first-child > div img,
    .topSlider ul li:first-child > div div *:not(a),
    .topSlider ul li:last-child > div img,
    .topSlider ul li:last-child > div div *:not(a){
        pointer-events: none; user-select: none;
    }
    .topSlider ul li:first-child > div{
        height: 100%; justify-content: center;
        display: flex; align-items: center;
        background-color: #d1ac78; border-radius: 6.25rem 0;
    }
    .topSlider ul li:first-child > div img{
        width: 45%; max-width: 800px; padding: 3.64% 0 3.64% 3.12%;
    }
    .topSlider ul li:first-child > div div{
        text-align: right; padding-right: 6.25%;
    }
    .topSlider ul li:first-child > div div h2{
        color: #322c2b; margin-bottom: 1.82vw;
    }
    .topSlider ul li:first-child > div div h2 span{
        display: block; margin-bottom: 1.2vw; color: #eeeeee;
    }
    .topSlider ul li:first-child > div div p{
        color: #322c2b;
    }
    .topSlider ul li:first-child > div div p:first-of-type{
        margin-bottom: 2.08vw;
    }
    .topSlider ul li:first-child > div div p:last-of-type{
        line-height: 2.5rem; margin-bottom: 2.6vw;
    }
    .topSlider ul li:first-child > div div a,
    .topSlider ul li:last-child > div div a{
        line-height: clamp(56px, 3.12vw, 60px);
    }
    .topSlider ul li:last-child > div{
        height: 100%; border-radius: 6.25rem 0;
        display: flex; align-items: center; justify-content: center;
        background: url('../images/slide_vinyl_record.png') #f6e613 left bottom / contain no-repeat;
    }
    .topSlider ul li:last-child > div div{
        text-align: right; padding-right: 3.12vw;
    }
    .topSlider ul li:last-child > div div h2{
        font-style: italic; color: #322c2b; margin-bottom: 3.12vw;
    }
    .topSlider ul li:last-child > div div h2 span{
        display: block; color: #9a900f; margin-bottom: 1.04vw;
        font-style: normal;
    }
    .topSlider ul li:last-child > div div a:hover{
        background-color: #9a900f;
    }
    .topSlider ul li:last-child > div img{
        max-width: 800px; padding: 3.64% 3.12% 3.64% 0;
    }

    .topSlider > span{
        display: block; position: absolute; z-index: 2; bottom: 1.04vw; left: 50%; transform: translateX(-50%);
    }
    .topSlider > span input{
        display: inline-block; background-color: rgba(128, 61, 59, 0.6); border: none; cursor: pointer;
        text-indent: -9999px; width: clamp(40px, 2.8vw, 50px); height: 0.31vw; border-radius: 1vw;
    }
    .topSlider > span input:not(:first-of-type){
        margin-left: 0.31vw;
    }
    .topSlider > span input.active{
        width: clamp(25px, 1.56vw, 30px); height: clamp(25px, 1.56vw, 30px); border-radius: 0;
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 50 50'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23803d3b; %7D .cls-1, .cls-2 %7B stroke-width: 0px; %7D .cls-2 %7B fill: %23995858; %7D %3C/style%3E%3C/defs%3E%3Cellipse class='cls-1' cx='18.0226' cy='35' rx='18.0226' ry='15'/%3E%3Cpath class='cls-1' d='M36.2988,2.7556c0-2.1477-3.239-4.2814-4.8373-1.2478-.2757.5233-.3821,1.121-.3821,1.7125v31.6023c0,1.3278.9535,2.5527,2.2763,2.6677,1.4815.1288,2.7237-1.0356,2.7237-2.4902l.1086-17.23c.1086.0485.2151.0991.3335.1374,5.5812,1.8074,8.8962,6.0539,7.0112,9.5535-.3106.5767-.7168,1.724-.3593,2.3.4348.7004,1.5745.7303,2.1667.3217,8.1851-5.6459,4.2003-17.2797-1.3704-20.0802-5.5707-2.8005-7.671-4.6155-7.671-7.2468Z'/%3E%3Cpath class='cls-2' d='M-4.7341,32.5364'/%3E%3C/svg%3E");
        background-size: contain; background-repeat: no-repeat; background-color: transparent;
    }

    /* * */

    .lastMonthTop3{
        padding: 0 13.75vw; margin: 0 auto 10rem; box-sizing: border-box;
    }
    .lastMonthTop3 h2{
        color: #322c2b; display: flex; align-items: center; margin-bottom: 3.12rem;
    }
    .lastMonthTop3 h2::after{
        content: ''; flex-grow: 1; background: #322c2b; height: 1px; margin-left: 1.25rem;
    }
    .lastMonthTop3 ol{
        display: flex; justify-content: center;
    }
    .lastMonthTop3 ol li{
        width: 33.33%; position: relative; background-color: #eeeeee; border-radius: 10px;
        padding: 3.15rem 1.25rem  7.29vw; flex-basis: 0; flex-grow: 1; text-align: center;
        transition: background-color 0.3s ease-in; box-sizing: border-box; max-height: 687px; max-width: 440px;
    }
    .lastMonthTop3 ol li:hover{
        background-color: #ba8f6c;
    }
    .lastMonthTop3 ol li:not(:first-of-type){
        margin-left: 3.43rem;
    }
    .lastMonthTop3 ol li span{
        position: absolute; top: 0; left: clamp( 30px ,1.56vw, 30px); font-style: italic; color: #322c2b;
        text-shadow: -1px 0 #eeeeee, 0 1px #eeeeee, 1px 0 #eeeeee, 0 -1px #eeeeee;
        transition: color 0.5s, text-shadow 0.5s;
    }
    .lastMonthTop3 ol li:hover span{
        color: #eeeeee; 
        text-shadow: -1px 0 #ba8f6c, 0 1px #ba8f6c, 1px 0 #ba8f6c, 0 -1px #ba8f6c;
    }
    .lastMonthTop3 ol li img{
        width: 100%; max-width: 400px; display: block; margin: 0 auto 2.18rem;
    }
    .lastMonthTop3 ol li dl dt{
        color: #322c2b; line-height: clamp(20px, 1.25vw, 24px); margin-bottom: 1.87rem;
    }
    .lastMonthTop3 ol li:hover dl dt{
        color: #eeeeee;
    }
    .lastMonthTop3 ol li dl dd:first-of-type{
        color: #803d3b; 
    }
    .lastMonthTop3 ol li dl dd:last-of-type{
        position: absolute; bottom: 1.25rem; left: 50%; transform: translateX(-50%);
    }
    .lastMonthTop3 ol li:hover dl dd:last-of-type a{
        background-color: #803d3b;
    }

    /* * */

    .mainContainer > p{
        color: #322c2b; margin: 0 auto 14.37rem; line-height: clamp(140px, 10.41vw, 240px);
        padding: 0 7.81vw;
        background: url('../images/ben_1.png') #cb8360 left 72.15vw center / clamp(200px, 20.05vw,387px) no-repeat;
    }
    .mainContainer > p mark{
        color: #fff; background: transparent; font-style: normal;
    }
    .mainContainer > p small{
        color: #7c4d36;
    }

    /* * */

    .newVinyl{
        position: relative; margin-bottom: 11.25rem;
    }
    .newVinyl div{
        position: relative;
    }
    .newVinyl div h2{
        writing-mode: vertical-rl; color: #eeeeee; text-align: center; line-height: 1;
        height: 90%; width: 82.55vw; background-color: #803d3b;
        display: flex; align-items: baseline; padding-right: 2.08vw; position: relative; z-index: 5; 
        border-top-right-radius: 1.25rem; border-bottom-right-radius: 1.25rem;
    }
    .newVinyl h2::before{
        content: ''; flex-grow: 1; background: #eeeeee; width: 2px; margin: 6.25vw 0 1.25rem;
    }
    .newVinyl h2::after{
        content: ''; flex-grow: 1; background: #eeeeee; width: 2px; margin: 1.25rem 0 6.25vw;
    }
    .newVinyl div img{
        position: absolute; width: 35.4vw; top: 11.52%; right: 3.5%; 
        animation: spin 5s linear infinite;
    }
    .newVinyl ul{
        display: flex; flex-wrap: wrap; position: absolute; top: 50%; transform: translateY(-50%);
        z-index: 8; width: 79%; padding-left: 2.08vw;
    }
    .newVinyl ul li{
        flex: 1 0 23%; margin-right: 1.56vw; 
        position: relative; background-color: #eeeeee; padding: 2.8vw 1.3vw 3.12vw; 
        box-sizing: border-box; transition: background-color 0.2s ease-in;
        border-top-left-radius: 1.25rem; border-bottom-left-radius: 1.25rem; border-bottom-right-radius: 1.25rem;
    }
    .newVinyl ul li:hover,
    .discount ul li:hover{
        background-color: #ba8f6c;
    }
    .newVinyl ul li:nth-child(-n+4){
        margin-bottom: 1.56vw;
    }
    .newVinyl ul li a{
        display: block; margin-bottom: 1.25rem;
    }
    .newVinyl ul li a img{
        width: 100%;
    }
    .newVinyl ul li dl dt{
        color: #322c2b; line-height: 1.25vw; margin-bottom: 0.81rem;
    }
    .newVinyl ul li dl dd,
    .discount ul li dl dd strong{
        color: #803d3b;
    }
    .newVinyl ul li input{
        position: absolute; bottom: 1.04vw; right: 1.3vw; text-indent: -9999px;
        display: block; width: 1.3vw; height: 1.3vw; border: none; cursor: pointer;
        background: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 50 50'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23322c2b; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M37.284,2.5402c-4.8406,0-9.2435,2.8837-12.284,7.9792-3.0405-5.0941-7.4439-7.9782-12.2845-7.9792h-.0009c-3.3452,0-6.5012,1.3794-8.8853,3.8847C1.3597,9.0189,0,12.5904,0,16.4816c0,13.6254,23.4567,29.9161,24.4549,30.6035l.5451.3747.5446-.3747c.9991-.6873,24.4554-16.9781,24.4554-30.6035,0-8.7266-6.465-13.9414-12.716-13.9414ZM23.2797,13.3829l1.7203,3.44,1.7203-3.44c2.5287-5.0575,6.3796-7.958,10.5638-7.958,6.1542,0,9.8314,5.6218,9.8314,11.0568,0,10.6065-18.1143,24.5047-22.1154,27.4447-4.0006-2.94-22.1154-16.8401-22.1154-27.4447,0-3.1471,1.0775-6.0124,3.0339-8.0679,1.8339-1.9273,4.2476-2.9888,6.7956-2.9888l.0014-.9614h0v.9614c4.1856.0009,8.036,2.9015,10.5642,7.958Z'/%3E%3C/svg%3E") center / contain no-repeat;
    }
    .newVinyl ul li input.active{
        animation: heart 0.3s ease-in forwards; 
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 50 50'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23803d3b; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M37.2841,2.5402c-4.8406,0-9.2436,2.8837-12.2841,7.9792-3.0405-5.0941-7.444-7.9782-12.2845-7.9792h-.001c-3.3452,0-6.5012,1.3794-8.8853,3.8846C1.3597,9.0189,0,12.5904,0,16.4816c0,13.6254,23.4567,29.9161,24.4549,30.6035l.5451.3747.5446-.3747c.9991-.6873,24.4554-16.9781,24.4554-30.6035,0-8.7266-6.465-13.9414-12.7159-13.9414Z'/%3E%3C/svg%3E");
    }

    /* * */

    .discount{
        position: relative; margin: 0 auto 10rem; 
        background-color: #c9a080; padding: 2.86vw 13.75vw 4.16vw;
    }
    .discount h2{
        color: #322c2b; display: flex; align-items: center; margin-bottom: 3.12rem;
    }
    .discount h2:after{
        content: ''; flex-grow: 1; background: #322c2b; height: 1px; margin: 0 1.25rem;
    }
    .discount h2 a{
        order: 1;
    }
    .discount > div{
        position: relative; margin: 0 auto;
    }
    .discount > div span input{
        position: absolute; z-index: 5; top: 50%; transform: translateY(-50%);
        cursor: pointer; width: 4.37rem; height: 4.37rem; text-indent: -9999px;
        background-repeat: no-repeat; background-size: 0.81rem;
        border: none; background-color: #af8260; border-radius: 2.18rem;
    }
    .discount > div span input:hover{
        background-color: #803d3b;
    }
    .discount > div span input:first-of-type{
        left: -35px; background-position: 46%;
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 27.8 50'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23eee; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M27,49.2h0c1.1-1.1,1.1-2.9,0-4L6.9,25,27,4.9c1.1-1.1,1.1-2.9,0-4h0c-1.1-1.1-2.9-1.1-4,0L.8,23c-1.1,1.1-1.1,2.9,0,4l22.2,22.2c1.1,1.1,2.9,1.1,4,0h0Z'/%3E%3C/svg%3E");
    }
    .discount > div span input:last-of-type{
        right: -35px; background-position: 52%;
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 27.8443 50'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23eeeeee; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M.8331.833h0c-1.1108,1.1107-1.1108,2.9116,0,4.0224l20.1446,20.1446L.8331,45.1445c-1.1107,1.1107-1.1107,2.9116,0,4.0224h0c1.1107,1.1108,2.9116,1.1108,4.0224,0l22.1558-22.1558c1.1107-1.1107,1.1107-2.9116,0-4.0224L4.8554.8331c-1.1107-1.1107-2.9116-1.1107-4.0223,0Z'/%3E%3C/svg%3E");
    }
    .discount > div div{
        overflow-x: auto;
    }
    .discount > div div ul{
        display: grid; grid-template-columns: repeat(7, 1fr); gap: clamp(20px, 2.08vw, 40px);
        scrollbar-width: none; -ms-overflow-style: none; transition: transform 0.4s ease-in;    
    }
    .discount > div div ul::-webkit-scrollbar{
        display: none;
    }
    .discount > div div ul li{
        min-width: clamp(300px, 17.55vw, 700px);
        position: relative; background-color: #eeeeee; padding: 2.8vw 1.3vw 3.12vw; 
        box-sizing: border-box; transition: background-color 0.2s ease-in;
        border-top-left-radius: 1.25rem; border-bottom-left-radius: 1.25rem; border-bottom-right-radius: 1.25rem;
    }
    .discount > div div ul li a{
        display: block; margin-bottom: 1.25rem;
    }
    .discount > div div ul li a img{
        width: 100%;
    }
    .discount > div div ul li dl dt{
        color: #322c2b; line-height: 1.25vw; margin-bottom: 0.81rem;
    }
    .discount > div div ul li dl dd s{
        color: rgba(50, 44, 43, 0.5);
    }
    .discount > div div ul li dl dd strong{
        margin-left: 0.31rem;
    }
    .discount > div div ul li input{
        position: absolute; bottom: 1.04vw; right: 1.3vw; text-indent: -9999px;
        display: block; width: 1.3vw; height: 1.3vw; border: none; cursor: pointer;
        background: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 50 50'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23322c2b; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M37.284,2.5402c-4.8406,0-9.2435,2.8837-12.284,7.9792-3.0405-5.0941-7.4439-7.9782-12.2845-7.9792h-.0009c-3.3452,0-6.5012,1.3794-8.8853,3.8847C1.3597,9.0189,0,12.5904,0,16.4816c0,13.6254,23.4567,29.9161,24.4549,30.6035l.5451.3747.5446-.3747c.9991-.6873,24.4554-16.9781,24.4554-30.6035,0-8.7266-6.465-13.9414-12.716-13.9414ZM23.2797,13.3829l1.7203,3.44,1.7203-3.44c2.5287-5.0575,6.3796-7.958,10.5638-7.958,6.1542,0,9.8314,5.6218,9.8314,11.0568,0,10.6065-18.1143,24.5047-22.1154,27.4447-4.0006-2.94-22.1154-16.8401-22.1154-27.4447,0-3.1471,1.0775-6.0124,3.0339-8.0679,1.8339-1.9273,4.2476-2.9888,6.7956-2.9888l.0014-.9614h0v.9614c4.1856.0009,8.036,2.9015,10.5642,7.958Z'/%3E%3C/svg%3E") center / contain no-repeat;
    }
    .discount > div div ul li input.active{
        animation: heart 0.3s ease-in forwards; 
        background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 50 50'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23803d3b; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M37.2841,2.5402c-4.8406,0-9.2436,2.8837-12.2841,7.9792-3.0405-5.0941-7.444-7.9782-12.2845-7.9792h-.001c-3.3452,0-6.5012,1.3794-8.8853,3.8846C1.3597,9.0189,0,12.5904,0,16.4816c0,13.6254,23.4567,29.9161,24.4549,30.6035l.5451.3747.5446-.3747c.9991-.6873,24.4554-16.9781,24.4554-30.6035,0-8.7266-6.465-13.9414-12.7159-13.9414Z'/%3E%3C/svg%3E");
    }

    /* * */

    .moreVinyl{
        max-width: 1920px; max-height: 800px; height: 41.66vw; padding: 0 6.51vw; 
        margin: 0 auto 10.31rem; display: flex; text-align: center;
    }
    .moreVinyl > div{
        border-radius: 1.25rem; display: flex; flex-direction: column; 
    }
    .moreVinyl > div:first-child{
        position: relative; height: 100%; width: 45%; padding: 0 5%; box-sizing: border-box;
        justify-content: center; align-items: center;
        background: url('../images/bg_01.png') center / cover no-repeat;
    }
    .moreVinyl > div:first-child::before,
    .moreVinyl > div:last-child div::before{
        content: ''; position: absolute; border-radius: 1.25rem;
        top: 0; left: 0; width: 100%; height: 100%;background-color: rgba(0, 0, 0, 0.6); 
        opacity: 0; transition: opacity 0.3s ease;
    }
    .moreVinyl > div:first-child:hover:before,
    .moreVinyl > div:last-child div:hover:before{
        opacity: 1;
    }
    .moreVinyl > div:last-child{
        margin-left: 1.04%; width: 53.96%;
    }
    .moreVinyl > div:last-child div{
        position: relative; padding: 0 5%; box-sizing: border-box;
        border-radius: 1.25rem; display: flex; flex-direction: column; 
        justify-content: center; align-items: center;
    }
    .moreVinyl > div:last-child div:first-child{
        height: 48.75%; margin-bottom: 2.5%;
        background: url('../images/bg_02.png') center / cover no-repeat;
    }
    .moreVinyl > div:last-child div:last-child{
        height: 48.75%;
        background: url('../images/bg_03.png') center / cover no-repeat;
    }
    .moreVinyl p{
       color: #eeeeee; z-index: 2;
       line-height: 2.06rem; margin-bottom: 2.5rem;
    }
    .moreVinyl p b{
        display: block; margin-bottom: 1.25rem;
    }
    .moreVinyl a{
        z-index: 2;
    }
}